<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RWColourTagCSSFiles</key>
	<array>
		<string>colourtag.css</string>
	</array>
	<key>RWCopyFiles</key>
	<array>
		<string>css</string>
		<string>images</string>
		<string>js</string>
		<string>styles.css</string>
		<string>editorstyles.css</string>
		<string>colourtag.css</string>
		<string>print.css</string>
		<string>handheld.css</string>
	</array>
	<key>RWStyleVariations</key>
	<dict>
		<key>RWStyleGroups</key>
		<array>
			<dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DefaultColour</key>
						<string>#808080</string>
						<key>Name</key>
						<string>Body text</string>
						<key>Tag</key>
						<string>%colour_body_text%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>#ffffff</string>
						<key>Name</key>
						<string>Title</string>
						<key>Tag</key>
						<string>%colour_title%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>#ffffff</string>
						<key>Name</key>
						<string>Slogan</string>
						<key>Tag</key>
						<string>%colour_slogan%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>#80a2bb</string>
						<key>Name</key>
						<string>Links</string>
						<key>Tag</key>
						<string>%colour_link%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>#ffffff</string>
						<key>Name</key>
						<string>Navigation</string>
						<key>Tag</key>
						<string>%colour_navigation%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>#6f6f6f</string>
						<key>Name</key>
						<string>Headers</string>
						<key>Tag</key>
						<string>%colour_header%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Colors</string>
			</dict>
			<dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/layout/twocolumns.css</string>
						</array>
						<key>Name</key>
						<string>Two columns</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/layout/onecolumn.css</string>
						</array>
						<key>Name</key>
						<string>One column</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Layout</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/logo/show.css</string>
						</array>
						<key>Name</key>
						<string>Show</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/logo/hide.css</string>
						</array>
						<key>Name</key>
						<string>Hide</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Logo</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>RWTemplateHTML</key>
	<string>index.html</string>
	<key>RWTextToolbar</key>
	<dict>
		<key>RWAlwaysDisplayFullNavigation</key>
		<false/>
		<key>RWBreadCrumb</key>
		<string>&lt;ul&gt;%items%&lt;/ul&gt;</string>
		<key>RWBreadCrumbItem</key>
		<string>&lt;li&gt;&lt;a href="%url%"&gt;%title%&lt;/a&gt;%separator%&lt;/li&gt;</string>
		<key>RWBreadCrumbSeparator</key>
		<string></string>
		<key>RWSupportedLevels</key>
		<integer>2</integer>
		<key>RWToolbarItemCurrent</key>
		<string>&lt;li&gt;&lt;a href="%url%" rel="%rel%" class="current"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentAncestor</key>
		<string>&lt;li&gt;&lt;a href="%url%" rel="%rel%" class="currentAncestor"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemNormal</key>
		<string>&lt;li&gt;&lt;a href="%url%" rel="%rel%"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarList</key>
		<string>&lt;ul&gt;%items%&lt;/ul&gt;</string>
	</dict>
	<key>RWThemeAuthor</key>
	<string>Laddi</string>
	<key>RWThemeCapabilities</key>
	<dict>
		<key>RWSupportsContentOnlySubPages</key>
		<true/>
		<key>RWSupportsDisplayNames</key>
		<true/>
		<key>RWSupportsPathTo</key>
		<true/>
		<key>RWSupportsToolbarRelTag</key>
		<true/>
	</dict>
	<key>RWThemeImage</key>
	<string>preview.png</string>
	<key>RWThemeKeyWords</key>
	<array>
		<string>hive</string>
	</array>
	<key>RWThemeName</key>
	<string>CityCentre</string>
	<key>RWThemeShippedInVersion</key>
	<string>3.6</string>
	<key>RWThemeShortName</key>
	<string>citycentre</string>
	<key>RWVersion</key>
	<integer>1</integer>
</dict>
</plist>
